@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");

.oswald_font {
  font-family: "Oswald", sans-serif;
}

.primary-color {
  color: #ffa500;
}

.primary-text-color {
  color: #4f4d4d;
}

.secondary-text-color {
  color: #151515;
}

.btn-primary {
  background-color: #ffa500;
  color: #ffffff;
  font-weight: 500;
  font-size: 16px;
  padding: 12px 20px;
  border-radius: 9999px;
  box-shadow: 2px 2px 0px #000000;
  transition: all 0.2s ease;
  cursor: pointer;
}
.btn-secondary {
  background-color: #ffa500;
  color: #ffffff;
  font-weight: 500;
  font-size: 16px;
  padding: 12px 20px;
  border-radius: 9999px;
  box-shadow: 2px 2px 0px #ffffff;
  transition: all 0.2s ease;
  cursor: pointer;
}

.btn-primary:hover {
  transform: translateY(2px);
}

.btn-secondary:hover {
  transform: translateY(2px);
}

.nav-link {
  color: #4f4d4d;
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: #ffa500;
}

.hero-bg {
  background: linear-gradient(180deg, #ffffff 10%, rgba(255, 165, 0, 0.3) 100%);
}
